/* основний колір  #212121 */
/* колір h1 #FFFFFF */
/* колір наводки #2196F3 */
/* другорядний колір #757575 */
/* допоміжний колір rgba(255, 255, 255, 0.6) */
/* основний фоновий колір #FFFFFF */
/* другорядні фонові кольори #2F303A #E5E5E5 #F5F4FA */

/*Тіло макету*/
:root{
    --primary-text-color: #212121;
    --titel-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --button-bg-color: #F5F4FA;
    --hero-footer-bg-color: #2F303A;
    --contact-add-color: rgba(255, 255, 255, 0.6);
}

body{
    font-family: roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* Шапка макету */
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}
    
.logo-nav{
    color: var(--primary-text-color);
}

.site-nav a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus{
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav a{
    color: var(--titel-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus{
    color: var(--accent-color);
}

/* Основна частина */
/* Герой */
.hero{
    background: var(--hero-footer-bg-color);
    text-align: center;
    align-items: center;
}

.hero-main{
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Кнопка */
.hero-button{
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
    border-width: 0;
}

.hero-button:hover,
.hero-button:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Секції */
.our{
    background-color: var(--button-bg-color);
}
.teams .features .title{
    color: var(--primary-text-color);
}

.teams{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 }

 .title{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
 
.text{
    line-height: 1.71;
}

.bg-color{
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.bg-color> .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.bg-color> .text{
    font-size: 16px;
    line-height: 1.19;
}

.features .text {
    color: var(--titel-text-color);
}

/* Портфоліо кнопки */
.portfolio-button{
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    font-family: inherit;
    border-width: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-name{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-position{
    color: var(--titel-text-color);
    font-size: 16px;
    line-height: 1.87;
}

/* Підвал */
.footer-options{
    background-color: var(--hero-footer-bg-color);
}

.logo-footer {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.contacts a{
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
}

.contacts-address a{
    line-height: 1.71;
    color: var(--contact-add-color);
    text-decoration: none;
}

.contacts-address a:hover,
.contacts-address a:focus {
    color: var(--accent-color);
}